/* Header */

.header {
    text-align: center;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, 
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1 {
    color: #011A51;
}

.orange-text {
    color: #FB847C;
}

#globalData p {
    font-size: .75rem;
}

/* Table */

.coin-img {
    width: 100%;
    max-width: 20px;
}

.coin-name {
    font-weight: bold;
}

.table-responsive {
    max-height: 400px;
}

thead {
    position:sticky;
    top: 0 ;
    background: #fff;
}

/* Chart */

#chartContainer {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, 
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Search box */
.hidden {
    display: none;
}

.show {
    display: block;
}

#searchResults {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 2px 6px 2px rgba(60, 64, 67, 0.149);
}