/* Header */

.header {
    text-align: center;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, 
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1 {
    color: #011A51;
}

.orange-text {
    color: #FB847C;
}

#globalData p {
    font-size: .75rem;
}

/* Table */

.coin-img {
    width: 100%;
    max-width: 20px;
}

.coin-name {
    font-weight: bold;
}

.table-responsive {
    max-height: 400px;
}

thead {
    position:sticky;
    top: 0 ;
    background: #fff;
}

.details {
    cursor: pointer;
}

.details:hover {
    text-decoration: underline;
    color: var(--bs-primary);
}

.details:active {
    opacity: .7;
}
